.popup__button-save {
  width: 238px;
  height: 46px;
  background: #000000;
  border-radius: 2px;
  margin: 15px 22px 25px 22px;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity .4s ease;
}

@media (min-width: 768px) {
  .popup__button-save {
    width: 358px;
    height: 50px;
    margin: 18px 36px 37px 36px;
  }
}

.popup__button-save:hover {
  cursor: pointer;
  opacity: 0.8;
}



/* .popup__button-save:active {
  cursor: pointer;
  opacity: 1;
} */