.profile__title {
  height: 26px;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.68px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-self: center;
  grid-column: 2 / span 1;
}

@media (min-width: 768px) {
  .profile__title {
    justify-self: start;
    grid-column: 1 / span 1;
    font-size: 42px;
    line-height: 48px;
    height: 39px;
    width: 294px;
  }
}