.popup__textinput {
  width: 238px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 22px 13px 22px;
  border: 0;
}