.popup__textinput-line {
  width: 238px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
  opacity: 0.2;
  margin-bottom: 30px;
  padding: 0;
}

@media (min-width: 768px) {
  .popup__textinput-line {
    width: 358px;
  }
}