.profile__avatar {
  border-radius: 50%;
  widht: 168.75px;
  height: 127.5px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .profile__avatar {
    margin-left: 27px;
  }
}

@media (min-width: 1284px) {
  .profile__avatar {
    margin: 0;
  }
}