.profile__avatar {
  height: 120px;
  width: 120px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .profile__avatar {
    margin-left: 27px;
  }
}

@media (min-width: 1280px) {
  .profile__avatar {
    margin: 0;
  }
}