.elements__item {
  width: 282px;
  margin: 0 19px 0 19px;
  display: grid;
}

@media (min-width: 768px) {
  .elements__item {
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .elements__item {
    margin: 0;
  }
}